body {
    font-family: Arial, sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #181717;
    line-height: 1.6;
}

.container {
    width: 100%;
    margin: 0 auto;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.crypto-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.crypto-card, .exchange-card {
    background-color: rgb(34, 34, 34);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
}

.crypto-card:hover, .exchange-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(190, 181, 181, 0.15);
}

.crypto-logo, .exchange-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.price-change-positive {
    color: #2ecc71;
    font-weight: bold;
}

.price-change-negative {
    color: #e74c3c;
    font-weight: bold;
}

#loading {
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
    color: #3498db;
}

#error-message {
    color: #e74c3c;
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
}

h1 {
    color: #ffffff;
}

#error-notification {
    position: fixed;
    top: 30px;
    right: 20px;
    background-color: rgba(39, 38, 38, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
}

.current-date-time {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    font-size: 0.9em;
    z-index: 1000;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: none; /* Initially hidden */
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.back-to-top:hover {
    background-color: #2980b9;
}




.load-more {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-size: 1em;
}

.load-more:hover {
    background-color: #2980b9;
}

@media (max-width: 768px) {
    .crypto-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
